<div class="mx-auto p-6 lg:px-8">
    <div class="mt-2">
        <h2 class="text-2xl font-bold">Activities: Home</h2>
    </div>
    <div class="mt-2">
        <p-table
            [value]="records"
            [lazy]="true"
            [paginator]="true"
            [rows]="10"
            [totalRecords]="totalRecords"
            [loading]="loading"
            (onLazyLoad)="loadData($event)"
            [globalFilterFields]="['name', 'email']"
            [rowsPerPageOptions]="[10, 20, 50]"
        >
            <ng-template #caption>
                <div class="flex justify-between">
                    <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
                    <p-select [(ngModel)]="filterDate" [options]="dateOptions()" (onChange)="onDateChange($event)" optionLabel="name" optionValue="value" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="createdDate">
                        <div class="flex items-center gap-2">
                            Date
                            <p-sortIcon field="createdDate"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="candidateName">
                        <div class="flex items-center gap-2">
                            Name
                            <p-sortIcon field="candidateName"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="joborderName">
                        <div class="flex items-center gap-2">
                            Regarding
                            <p-sortIcon field="joborderName"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="notes">
                        <div class="flex items-center gap-2">
                            Notes
                            <p-sortIcon field="notes"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="enterBy">
                        <div class="flex items-center gap-2">
                            Entered By
                            <p-sortIcon field="enterBy"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>
                        {{ row.createdDate | date : "dd/MM/yyyy (hh:mm a)" }}
                    </td>
                    <td>
                        <p-button class="link-btn" label="{{row.candidateName}}" link routerLink="/home/candidates/{{row.candidateId}}"/>
                    </td>
                    <td>
                        @if (row.joborderName) {
                             <p-button class="link-btn" label="{{row.joborderName}}" link routerLink="/home/job-orders/{{row.joborderNames}}"/>
                        (<p-button class="link-btn" label="{{row.companyName}}" link routerLink="/home/companies/{{row.companyId}}"/>)
                        } @else {
                            General
                        }
                    </td>
                    <td>
                        <div [innerHTML]="row.notes | safeHtml"></div>
                    </td>
                    <td>{{ row.enterBy }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>