<header class="bg-white">
  <div class="mx-auto flex items-center justify-between px-6" aria-label="Global">
    <div class="flex">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="w-auto" src="applicationLogo.jpg" alt="" />
      </a>
    </div>
    <div class="flex item-end">
        @if (authService.isAdmin()) {
          <a class="rounded-md px-3 py-2 text-sm font-medium hover:cursor-pointer" (click)="setting.toggle($event)">
            <fa-icon [icon]="faGear"></fa-icon>
          </a>
        }
        <a class="rounded-md px-3 py-2 text-sm font-medium hover:cursor-pointer" (click)="menu.toggle($event)">
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <p-menu [model]="profileMenus" [popup]="true" #menu>
            <ng-template #start>
              <div class="flex flex-col border-b-1 p-2">
                  <span class="font-bold ms-2">{{user.access_role}}</span>
                  <span class="ms-2">{{user.first_name}} {{user.last_name}} {{user.user_name}}</span>
              </div>
            </ng-template>
        </p-menu>
        <p-menu [model]="settingMenus" [popup]="true" #setting>
        </p-menu>
    </div>
  </div>
  <nav class="mx-auto flex items-center p-6 border-y border-gray-200 gap-2">
      @for (route of routes(); track route.name) {
          <a routerLink="{{route.link}}" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white" routerLinkActive="active-link">{{route.name}}</a>
      }
   </nav> 
</header>

<app-home-header-change-password #changePasswordModal></app-home-header-change-password>