@let pipelineList = pipelines.value() || [];

<div class="flex direction-end mt-2 justify-end">
    <p-button label="Add Candidate To Pipeline" class="me-2" (onClick)="create()"/>
</div>

<div class="mt-4">
    <p-table
        [value]="pipelineList"
        [lazy]="false"
        [paginator]="false"
        [rowsPerPageOptions]="[10, 20, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="rating_value">
                    <div class="flex items-center gap-2">
                        Match
                        <p-sortIcon field="rating_value"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="candidate.full_name">
                    <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="candidate.full_name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="date_created">
                    <div class="flex items-center gap-2">
                        Added
                        <p-sortIcon field="date_created"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="candidate.entered_user.name">
                    <div class="flex items-center gap-2">
                        Entered By
                        <p-sortIcon field="candidate.entered_user.name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="status_info.short_description">
                    <div class="flex items-center gap-2">
                        Status
                        <p-sortIcon field="status_info.short_description"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="candidate_confirm_status">
                    <div class="flex items-center gap-2">
                        Candidate Confirmed
                        <p-sortIcon field="candidate_confirm_status"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="candidate_confirm_status">
                    <div class="flex items-center gap-2">
                        Last Activity
                        <p-sortIcon field="candidate_confirm_status"></p-sortIcon>
                    </div>
                </th>
                <th >
                    <div class="flex items-center gap-2">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr>
                <td>
                    <p-rating [(ngModel)]="row.rating_value" (onRate)="onRating($event, row.candidate_joborder_id)"/>
                </td>
                <td>
                    {{ row.full_name }}
                </td>
                <td>
                    {{ row.date_created | date : "dd/MM/yyyy" }}
                </td>
                <td>
                    {{ row.headhunt_name }}
                </td>
                <td>
                    {{ row.status_description }}
                </td>
                <td>
                    {{ row.candidate_confirm_status ? 'YES' : 'NO' }}
                </td>
                @if (row.last_activity) { 
                    <td [innerHTML]="row.last_activity | safeHtml">
                    </td>
                } @else {
                    <td></td>
                }
                <td>
                    <div class="flex gap-2">
                        <p-button severity="info" (onClick)="edit(row.candidate_joborder_id)">
                            <fa-icon [icon]="faPencil"></fa-icon>
                        </p-button>
                        <p-button severity="danger" (onClick)="deletePipeline($event, row.candidate_joborder_id)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-job-order-pipeline-modal #createPipelineModal (reloadTable)="reload()"></app-job-order-pipeline-modal>
<app-pipeline-modal #pipelineModal (reloadTable)="reload()"></app-pipeline-modal>