<p-table
    [value]="records"
    [lazy]="true"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    (onLazyLoad)="loadData($event)"
    [globalFilterFields]="['name', 'email']"
    [rowsPerPageOptions]="[10, 20, 50]">
    <ng-template #caption>
        <div class="flex justify-between">
            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="first_name">
                <div class="flex items-center gap-2">
                    First Name
                    <p-sortIcon field="first_name"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="last_name">
                <div class="flex items-center gap-2">
                    Last Name
                    <p-sortIcon field="last_name"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="company_name">
                <div class="flex items-center gap-2">
                    Company
                    <p-sortIcon field="company_name"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="title">
                <div class="flex items-center gap-2">
                    Title
                    <p-sortIcon field="title"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="phone_work">
                <div class="flex items-center gap-2">
                    Work Phone
                    <p-sortIcon field="phone_work"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="owner">
                <div class="flex items-center gap-2">
                    Owner
                    <p-sortIcon field="owner"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="date_created">
                <div class="flex items-center gap-2">
                    Created
                    <p-sortIcon field="date_created"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="date_modified">
                <div class="flex items-center gap-2">
                    Modified
                    <p-sortIcon field="date_modified"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            <td>
                <p-button class="link-btn" label="{{row.first_name}}" link routerLink="/home/contacts/{{row.data_item_id}}"/>
            </td>
             <td>
                <p-button class="link-btn" label="{{row.last_name}}" link routerLink="/home/contacts/{{row.data_item_id}}"/>
            </td>
             <td>
                <p-button class="link-btn" label="{{row.company_name}}" link routerLink="/home/companies/{{row.company_id}}"/>
            </td>
            <td>
                {{row.title}}
            </td>
            <td>
                {{row.city}}
            </td>
            <td>
                {{row.phone_work}}
            </td>
            <td>
                {{ row.owner }}
            </td>
                <td>
                {{ row.date_created | date : "dd/MM/yyyy (hh:mm a)" }}
            </td>
             <td>
                {{row.date_modified | date : "dd/MM/yyyy (hh:mm a)"}}
            </td>
        </tr>
    </ng-template>
</p-table>