<p-dialog header="Change Password" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.valid, changePasswordForm.value)">
        <div class="mt-3">
            <div class="flex flex-col">
                <label for="title" class="font-semibold">Old Password:</label>
                <p-password fluid="true" id="old_password" formControlName="old_password" class="flex-auto" autocomplete="off" [invalid]="isInvalid(changePasswordForm, 'old_password')"/>
                @if (isInvalid(changePasswordForm, 'old_password')) {
                    <p-message severity="error" size="small" variant="simple">Old Password is required.</p-message>
                }
            </div>
            <div class="flex flex-col">
                <label for="title" class="font-semibold">New Password:</label>
                <p-password fluid="true" id="new_password" formControlName="new_password" class="flex-auto" autocomplete="off" [invalid]="isInvalid(changePasswordForm, 'new_password')"/>
                @if (isInvalid(changePasswordForm, 'new_password')) {
                    <p-message severity="error" size="small" variant="simple">New Password is required.</p-message>
                }
            </div>
            <div class="flex flex-col">
                <label for="confirm_password" class="font-semibold">Confirm Password:</label>
                <p-password fluid="true" id="confirm_password" formControlName="confirm_password" class="flex-auto" autocomplete="off" [invalid]="isInvalid(changePasswordForm, 'confirm_password')"/>
                @if (isInvalid(changePasswordForm, 'confirm_password')) {
                    <p-message severity="error" size="small" variant="simple">Confirm Password is required.</p-message>
                }
            </div>
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancel" severity="secondary" (click)="visible.set(false)" />
            <p-button label="Save" type="submit" />
        </div>
    </form>
</p-dialog>