<div>
    @for(attachment of attachments.value(); track attachment.attachment_id) {
        <div class="flex justify-between items-center mt-2">
            <a [href]="`/attachments/${attachment.attachment_id}/${attachment.hash}`" target="_blank" rel="noopener noreferrer">
                <span class="text-primary">{{attachment.title}}</span>
            </a>
            <p-button severity="danger" (onClick)="deleteAttachment(attachment.attachment_id)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </p-button>
        </div>
    }
</div>
<div class="flex justify-between items-center mt-4">
    <p-fileupload #fu 
        mode="basic" 
        chooseLabel="Add Attachment" 
        chooseIcon="pi pi-upload"
        [customUpload]="true"
        (onSelect)="onSelect($event)"
        (uploadHandler)="onUpload($event)" 
    />
    <p-button label="Upload" (onClick)="fu.upload();" severity="primary" [disabled]="!allowSubmit()"/>
</div>