<div class="mx-auto p-6 lg:px-8">
    <div class="mt-2">
        <h2 class="text-2xl font-bold">Job Orders: Job Order Details</h2>
    </div>
    <div class="mt-2 block p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
        <div class="mt-2 block p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Job Order Detail</h5>
            <div class="flex direction-end mt-2 justify-end">
                <p-button label="Edit" class="me-2" (onClick)="edit()"/>
                <p-button label="Delete" severity="danger" (onClick)="delete($event)"/>
            </div>
            <div class="flex gap-8">
                <div class="flex flex-col gap-2 w-1/2">
                    <div class="flex">
                        <span class="w-48 font-bold">Name:</span>
                        <span>{{data()?.full_name}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Job Title:</span>
                        <span>{{data()?.job_title}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Email:</span>
                        <span>{{data()?.email1}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Phone:</span>
                        <span>{{data()?.phone_work}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Best Time To Call:</span>
                        <span>{{data()?.best_time_to_call}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Address:</span>
                        <div>
                            <p>{{data()?.address}}</p>
                            <p>{{data()?.state}} {{data()?.city}} {{data()?.zip}}</p>
                        </div>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Web Site:</span>
                        <span>{{data()?.web_site}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Source:</span>
                        <span>{{data()?.source}}</span>
                    </div>
                </div>

                <div class="flex flex-col gap-2 w-1/2">
                    <div class="flex">
                        <span class="w-48 font-bold">Date Available:</span>
                        <span>{{data()?.date_available | date : 'dd/MM/yyyy'}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Current Employer:</span>
                        <span>{{data()?.current_employer}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Key Skills:</span>
                        <span>{{data()?.key_skills}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Can Relocate:</span>
                        <span>{{data()?.can_relocate}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Current Pay:</span>
                        <span>{{data()?.current_pay}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Desired Pay:</span>
                        <span>{{data()?.desired_pay}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Pipeline:</span>
                        <span>{{data()?.pipeline}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Submitted:</span>
                        <span>{{data()?.submitted}} </span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Created:</span>
                        <span>{{data()?.date_created | date: 'dd/MM/yyyy (hh:mm a)'}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Owner:</span>
                        <span>{{data()?.owner_first_name}} {{data()?.owner_last_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 block p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
            <div class="flex gap-8">
                <div class="flex flex-col gap-2">
                    <div class="flex">
                        <span class="w-48 font-bold">Dtalent Comments:</span>
                        <span>{{data()?.internal_comment}}</span>
                    </div>
                      <div class="flex">
                        <span class="w-48 font-bold">Misc. Notes:</span>
                        <span>{{data()?.notes}}</span>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Attachments:</span>
                        <div class="w-100">
                            <app-attachment [id]="id()" [type]="url" [typeNumber]=100></app-attachment>
                        </div>
                    </div>
                    <div class="flex">
                        <span class="w-48 font-bold">Upcoming Events:</span>
                        <div>
                            TO DO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 block p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Candidate Pipeline</h5>
        <app-candidate-job-order-pipeline [candidateId]="id()"></app-candidate-job-order-pipeline>
    </div>
    <div class="mt-2 block p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Activity</h5>
        <app-candidate-activities [candidateId]="id()"></app-candidate-activities>
    </div>
</div>

<app-candidate-modal #jobOrderModal (reloadTable)="getData()"></app-candidate-modal>
