<p-table
    [value]="records"
    [lazy]="true"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    (onLazyLoad)="loadData($event)"
    [globalFilterFields]="['name', 'email']"
    [rowsPerPageOptions]="[10, 20, 50]">
    <ng-template #caption>
        <div class="flex justify-between">
            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search keyword" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="full_name">
                <div class="flex items-center gap-2">
                    Full name
                    <p-sortIcon field="full_name"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="job_title">
                <div class="flex items-center gap-2">
                    Job Title
                    <p-sortIcon field="job_title"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="city">
                <div class="flex items-center gap-2">
                    City
                    <p-sortIcon field="city"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="state">
                <div class="flex items-center gap-2">
                    State
                    <p-sortIcon field="state"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="date_modified">
                <div class="flex items-center gap-2">
                    Modified
                    <p-sortIcon field="date_modified"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="owner">
                <div class="flex items-center gap-2">
                    Owner
                    <p-sortIcon field="owner"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="date_created">
                <div class="flex items-center gap-2">
                    Created
                    <p-sortIcon field="date_created"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="desired_pay">
                <div class="flex items-center gap-2">
                    Desired Pay
                    <p-sortIcon field="desired_pay"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            <td>
                <p-button class="link-btn" label="{{row.full_name}}" link routerLink="`/home/candidates/{{row.data_item_id}}`"/>
            </td>
            <td>
                {{row.job_title}}
            </td>
            <td>
                {{row.city}}
            </td>
            <td>
                {{row.state}}
            </td>
            <td>
                {{row.date_modified | date : "dd/MM/yyyy (hh:mm a)"}}
            </td>
            <td>
                {{ row.owner }}
            </td>
                <td>
                {{ row.date_created | date : "dd/MM/yyyy (hh:mm a)" }}
            </td>
            <td>
                {{row.desired_pay}}
            </td>
        </tr>
    </ng-template>
</p-table>