
<div class="mx-auto p-6 lg:px-8">
    <div class="flex gap-8">
        <div class="flex w-1/2">
            <app-dashboard-recent-calls class="w-full"></app-dashboard-recent-calls>
        </div>
        <div class="flex w-1/2">
            <app-dashboard-upcomming-calls class="w-full"></app-dashboard-upcomming-calls>
        </div>
    </div>
    <div class="flex gap-8">
        <div class="flex w-1/2">
            <app-dashboard-recent-hires class="w-full"></app-dashboard-recent-hires>
        </div>
        <div class="flex w-1/2">
            TO DO
        </div>
    </div>
    <div class="flex gap-8">
        <div class="flex w-full">
            <app-dashboard-upcomming-events class="w-full"></app-dashboard-upcomming-events>
        </div>
    </div>
</div>