@let contactList = contacts.value() || [];

<p-table
    [value]="contactList"
    [lazy]="false"
    [paginator]="false"
    [rowsPerPageOptions]="[10, 20, 50]"
>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="first_name">
                <div class="flex items-center gap-2">
                    First Name
                    <p-sortIcon field="first_name" />
                </div>
            </th>
            <th pSortableColumn="last_name">
                <div class="flex items-center gap-2">
                     Last Name
                    <p-sortIcon field="last_name" />
                </div>
            </th>
            <th pSortableColumn="title">
                <div class="flex items-center gap-2">
                    Title
                    <p-sortIcon field="title" />
                </div>
            </th>
            <th pSortableColumn="department">
                <div class="flex items-center gap-2">
                    Department
                    <p-sortIcon field="department" />
                </div>
            </th>
            <th pSortableColumn="phone_work">
                <div class="flex items-center gap-2">
                     Work Phone
                    <p-sortIcon field="phone_work" />
                </div>
            </th>
            <th pSortableColumn="phone_cell">
                <div class="flex items-center gap-2">
                     Work Phone
                    <p-sortIcon field="phone_cell" />
                </div>
            </th>
            <th pSortableColumn="date_created">
                <div class="flex items-center gap-2">
                    Created
                    <p-sortIcon field="date_created" />
                </div>
            </th>
            <th pSortableColumn="date_modified">
                <div class="flex items-center gap-2">
                    Created
                    <p-sortIcon field="date_modified" />
                </div>
            </th>
            <th>
                Action
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            <td>
                <p-button class="link-btn" label="{{row.first_name}}" link routerLink="{{row.contact_id}}"/>
            </td>
            <td>
                <p-button class="link-btn" label="{{row.last_name}}" link routerLink="{{row.contact_id}}"/>
            </td>
            <td>{{ row.title }}</td>
            <td>{{ row.department }}</td>
            <td>{{ row.phone_work }}</td>
            <td>{{ row.phone_cell }}</td>
            <td>{{ row.date_created | date : 'dd/MM/yyyy' }}</td>
            <td>{{ row.owner }}</td>
            <td>
                <div class="flex gap-4">
                    <a [href]="'mailto:' + row.email" class="hover:cursor-pointer">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </a>
                    <fa-icon [icon]="faPencilAlt" class="hover:cursor-pointer"></fa-icon>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>