@import "tailwindcss";
@plugin "tailwindcss-primeui";

body {
  @apply bg-white;
}

:root {
  --p-inputtext-background: #f5f5f5;
}

.fc-theme-custom {
  --fc-button-bg-color: #0ea5e9;   /* Tailwind blue-500 */
  --fc-button-hover-bg-color: #0ea5e9;
  --fc-button-text-color: #ffffff;
  --fc-button-border-color: #0ea5e9;
  --fc-button-hover-border-color: #0ea5e9;
  --fc-button-active-bg-color: #0369a1;
  --fc-button-active-border-color: #0369a1;

  .fc .fc-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }

  .fc-daygrid-event {
    background-color: var(--fc-event-bg-color);
    border: 1px solid var(--fc-event-border-color);
    color: var(--fc-button-text-color);
  }

  .fc-event {
    &:hover {
      cursor: pointer;
    }
  }
}

.active-link {
  @apply bg-sky-500 text-white;
}

.link-btn .p-button {
  padding: 0;
  text-align: left;
}