@import "tailwindcss";
@plugin "tailwindcss-primeui";

body {
  @apply bg-white;
}

:root {
  --p-inputtext-background: #f5f5f5;
}

.active-link {
  @apply bg-sky-500 text-white;
}

.link-btn .p-button {
  padding: 0;
  text-align: left;
}